<div class="mt-4 col-8 offset-2">

    <div class="card">

        <div class="card-header">Request Password Reset Form</div>

        <div class="card-body">

            <form #passwordResetForm=ngForm (ngSubmit)="submitForm()">

                <!-- Email -->
                <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" [(ngModel)]="form.email" required>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-group row">

                    <!-- Submit -->
                    <div class="col-sm-5 offset-2">
                        <button type="submit" class="btn btn-primary" [disabled]="!passwordResetForm.valid">Submit</button>
                    </div>

                </div>

            </form>

        </div>

    </div>

</div>
